<h2>Account Setting</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <% unless current_user.admin? %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :ID %><br />
    <%= f.number_field :staff_id %>
  </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>
  
  <% unless current_user.admin? %>
  <div class="field">
    <%= f.label :position %><br />
    <%= f.select :position, ['Android', 'Design', 'iOS', 'Rails']%>
  </div>

  
  <div class="field">
    <%= f.radio_button :role, 'leader', :checked => true %> Leader
    <%= f.radio_button :role, 'member' %> Member
  </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<% unless current_user.admin? %>
<h3>Do you want to delete your account?</h3>

<%= button_to "Delete your account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>
<% end %>
<%= link_to "Back", :back %>
