<h2 align="center">Register Staffs</h2>
<div align="center", style="width:100%">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :ID %>
    <%= f.number_field :staff_id %>
  </div>
  <br />
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: true %>
  </div>
  <br />
  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>
  <br />
  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "off" %>
  </div>
  <br />
  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>
  <br />
  <div class="field">
    <%= f.label :position %>
    <%= f.select :position, ['Android', 'Design', 'iOS', 'Rails']%>
  </div>
  <br />
  <div class="field">
    <%= f.radio_button :role, 'leader', :checked => true %> Leader
    <%= f.radio_button :role, 'member' %> Member
  </div>
  <br />
  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>
</div>