<p id="notice"><%= notice %></p>

<h1 align="center">Staff's Info</h1>
<div align="center", style="width:100%">
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>ID:</strong>
  <%= @user.staff_id %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Position:</strong>
  <%= @user.position %>
</p>

<p>
  <strong>Role:</strong>
  <%= @user.role %>
</p>
<%= link_to 'Back', :back %>
<!-- include others, etc. -->

<%#= link_to 'Edit Profile', edit_user_path(@user) %>
<%#= link_to "Settings", edit_user_path %>
  
